table,.form {
    /* background-color: green; */
    margin: 20px auto;
}

table tr td {
    /* background-color: yellow; */
    padding: 5px;

    input,select{
        outline: none;
        border: 1px black solid;
        border-radius: 7px;
        padding: 7px;
    }

    .btn {
        padding: 7px;
        width: 100%;
        border: 1px black solid;
        border-radius: 10px;
        outline: none;
    }
}