main {
    height: 100vh;
    display: none;
}

.content {
    /* background-color: yellow; */
    height: calc(100vh - 40px - 80px);
}

.home {
    background-color: gray;
    height: inherit;
    display: none;

    .all-controls {
        /* background-color: red; */
        height: inherit;
        padding: 10px auto;

        .details {
            background-color: gray;
            min-height: 10%;
            align-content: center;
            text-align: center;
            color: white;
        }

        .musicThumbnail {
            background-color: rgb(98, 213, 165);
            height: 70%;
            display: flex;
            justify-content: center;
            overflow: hidden;

            img {
                /* width: 100%; */
                height: 100%;
            }

            img:hover {
                transform: none;
            }
        }

        .controls {
            /* background-color: aqua; */
            height: 20%;
            align-content: center;

            .range {
                /* background-color: red; */
                width: 100%;
                padding: 2px;
                display: flex;
                justify-content: space-around;

                input {
                    width: 90%;
                    margin: 0 2px 0 2px;
                    cursor: pointer;
                }
            }

            .buttons {
                /* background-color: green; */
                margin-top: 15px;
                display: flex;
                justify-content: space-around;
            }

            button {
                background-color: none;
                background-color: gray;
                outline: none;
                border: none;
                font-size: 20px;
            }
        }
    }
}

.songs {
    background-color: white;
    height: 100%;
    padding: 5px;
    /* display: none; */

    .song-mediums {
        background-color: gray;
        border: 1px black solid;
        border-radius: 7px;
        display: flex;
        justify-content: space-around;
    }

    .song-type {
        /* background-color: rgb(198, 34, 34); */
        border-radius: 7px;
        display: flex;
        justify-content: space-around;

        a {
            font-size: 12px;
            color: black;
        }
    }

    li {
        margin-top: 5px;
        padding: 5px;
        border: 1px black solid;
        border-radius: 10px;

        .music-div {
            /* background-color: red; */
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin-right: 3px;
            }

            .music-name {
                overflow-x: scroll;
                scrollbar-width: none;
            }
        }
    }
}

.bhojpuriSongs {
    display: none;
}

.punjabiSongs {
    display: none;
}

.bhaktiSongs {
    display: none;
}

.search {
    background-color: chocolate;
    height: 100%;
    display: none;
}

.footer {
    background-color: deeppink;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        background-color: inherit;
        outline: none;
        border: none;
        color: white;
    }
}

.show-block {
    display: block;
}

.show-flex {
    display: flex;
}

.hide {
    display: none;
}